@font-face {
    font-family: 'Monocraft';
    src: url('monocraft.ttf') format('truetype');
}

html {
    /* load the font monocraft.ttf from static page */
    font-family: 'Monocraft', sans-serif;
}

body {
    background-color: #f1f1f1;
    font-family: 'Monocraft', Arial, Helvetica, sans-serif !important;
    width: 100vw;
    height: 100vh;
    position: relative;
}

h1 {
    font-size: 3rem;
    font-weight: 700 !important;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-menu-row-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-rect {
  width: 100%;
  max-width: 40%;
  padding: 15px;
  margin: 0 auto;
}