<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Googol Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="main-rect">
        <h1 class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">Googol App</h1>
        <div class="main-menu-row-btns">
            <button type="button" class="btn btn-primary btn-lg mx-1" onclick="location.href='/login'">Login</button>
            <button type="button" class="btn btn-warning btn-lg mx-1" onclick="location.href='/register'">Register</button>
        </div>
    </div>
</body>
</html>