<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Top Searches - Googol Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" type="text/css" href="css/searchlinks.css" th:href="@{/css/searchlinks.css}"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script>
        // check if the redirect:/dashboard?admin=true is true
        // if true, then show the admin panel
        window.onload = function () {

            const urlParams = new URLSearchParams(window.location.search);
            const admin = urlParams.get('admin');
            console.log(admin)

        }
    </script>
</head>

<body>
<div class="d-flex flex-column align-items-center justify-content-center main-rect">
    <h1 class="pb-1 px-md-3 mx-auto text-center text-nowrap">Googol App</h1>
    <h2 class="pb-1 mx-auto text-center">Search Engine</h2>
    <img class="mb-4 mx-auto" src="https://i.pinimg.com/originals/84/93/cc/8493cc3c30cf5016b7df7b8e050e1292.png" alt=""
         width="100" height="100">
    <tr th:each="search ,iter: ${searches}">
        <p>
            <span th:text="${iter.count} + '-' + ${search}"></span>
        </p>
    </tr>
    <a type="button" class="btn btn-link btn-lg mx-1 w-75" th:href="@{/dashboard(__${'admin=' + admin}__)}">Back</a>
</div>
</body>
</html>